<h1>Cocktails List</h1>
<p><%= link_to 'Add cocktail', new_cocktail_path, class: "btn btn-primary" %></p>

<% @cocktails.each do |cocktail| %>
  <h2><%= cocktail.name %>
  <p><%= link_to 'Details', cocktail_path(cocktail), class: "btn btn-primary" %></p>
<% end %>
